/* Place your styles below */
body {
  display: flex;
  flex-direction: row;
  background-size: cover;
}

body div {
  text-align: center;
  width: 75%;
  border: 1px solid black;
  margin: 0 auto;
  padding: 10px;
  font-family: 'Poppins', sans-serif;
}

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

#main {

}

#quiz-wrapper {

}

#question {

}

#try-again {

}

#form-submit {

}

#result {
  
}
