/* Place your styles below */
body {
  display: flex;
  flex-direction: row;
  background-size: cover;
}

body div {
  text-align: center;
  width: 75%;
  border: 1px solid black;
  margin: 0 auto;
  padding: 10px;
  font-family: 'Poppins', sans-serif;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}
header, main {
  display: flex;
  text-align: center;
}

h2 {
  flex-basis: 100%
  font: 2em;
}

#main {

}

#quiz-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

#question {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  width: 75%
}

#try-again {
  margin-top: 10px;
  margin-right: auto;
  margin-bottom: 10px;
  margin-left: auto;
  width: 200px;
  height: 50px;
  display: none;
}

#form-submit {
  margin-top: 10px;
  margin-right: auto;
  margin-bottom: 10px;
  margin-left: auto;
  width: 200px;
  height: 50px;
}

#result {
  display: none;
  margin-top: 0;
  margin-right: auto;
  margin-bottom: 0;
  margin-left: auto;
}

input {
  text-align: left;
}

@media screen and (max-width:768px){
  #quiz-wrapper{
    flex-direction: row;
  }
 }
